section{
    height: 100vh;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
}


#myinfo{
    grid-template-columns: 1fr;
}

.box{
    height: 100%;
    font-family: robotoBold;
}

.logo-container{
    width: 35%;
    margin: auto;
    margin-top: 99px;
}

.text-container{
    width: 78%;
    margin: auto;
    margin-top: 2em;
}

.text-container h1{
    color: #165697;
    font-size: 1.5em;
    line-height: 35px;
}

.text-container h1 span{
    font-family: robotoRegular;
    font-size: 0.5em;
    line-height: 16px;
    color: #464646;
    position: relative;
    bottom: 3px;
    left: 3px;
}

.text-container p{
    font-family: robotoRegular;
    font-size: 1em;
    line-height: 23px;
    color: #464646;
}

.text-container p:last-child{
    font-size: 18px;
    line-height: 21px;
}

.text-container .svg-container{
    width: 55px;
    margin: auto;
}

.text-container .logo-box .tech-name{
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-family: robotoRegular;
    text-align: center;
}

.text-container .tech-logo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.company-logo, .logo-box img, .box-img{
    object-fit: cover;
}

.text-container .logo-box a{
    text-decoration: none;
}

#about-container{
    /* position: absolute; */
    /* overflow: auto; */
    height: 100%;
    /* right: -15px; */
}

.intro{
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.intro .text{
    font-size: 32pt;
    line-height: 36pt;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    transition: all 2s;
}

.intro .highlight{
    color: #e31b6d;
}

.intro .hideIntro{
    opacity: 0;
}

.intro-btn{
    cursor: pointer;
    padding: 12px 50px 12px 20px;
    font-size: 16pt;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.5s;
}

.intro-btn i{
    position: absolute;
    margin: 1px 0 0 10px;
    transition: all 0.3s;
}

.intro-btn:hover{
    background-color: #e31b6d;
    border-color: #e31b6d;
}

.intro-btn:hover i{
    transform: rotate(90deg);
}

.tech li{
    display: inline;
}

.left-side{
    opacity: 0 !important;
    transform: translateX(-200px);
}

.right-side{
    opacity: 0 !important;
    transform: translateX(200px);
}

.info-box{
    transition: all 1s;
}

@media only screen and (max-width: 1024px) {
    .intro .text{
        font-size: 1.4em;
        line-height: 36pt;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }

    .intro-btn{
        font-size: 1.4em;
    }

    .about-img{
        display: none;
    }

    section{
        grid-template-columns: 1fr;
    }

    .navigation-container{
        display: none !important;
    }

    .text-container .tech-logo-container{    
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .logo-container{
        width: 35%;
        margin: auto;
        margin-top: 40px;
    }
}