.navigation-container{
    position: fixed;
    z-index: 1000;
    right: 2%;
    transition: all 1s;
    height: 100%;
    display: grid;
    top: 0px;
    align-items: center;
    min-width: 10px;
}

.hideNav{
    transform: translateX(410%);
}

.indicators{
    padding-top: 1.1rem;
    max-width: 50px;
    min-height: 150px;
    transform: translateX(6px);
    transition: opacity 1s;
}

.indicators div{
    vertical-align: top;
    height: 1.8rem;
    width: 4px;
    opacity: 0.2;
    margin: .2rem 0;
}

.nav{
    right: -15px;
    position: absolute;
    transition: all 0.8s;
    cursor: pointer;
}

.nav-top{
    transform: rotate(90deg) translateX(-10px);
}

.nav-bottom{
    transform: rotate(90deg) translateX(10px);
}

.nav-1{
    transform: translateY(-5px);
}

.nav-2{
    transform: translateY(5px);
}

.hide-indicator{
    opacity: 0;
}